# OS
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# Editors
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
*.pyo
logs/
*.pyd
*.pdb
.venv/
.mypy_cache/
.pytest_cache/
.pytype/
.cache/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.coverage
.coverage.*
htmlcov/
.python-version

# Env files
.env
.env.*
!.env.sample

# Node / Next.js
node_modules/
.next/
.vercel/
out/
.turbo/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log


